
/* order-history */

.row_order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 80px;
    padding: 10px 0;
}

.order {
    -webkit-box-shadow: -0.626px 3.951px 13px 0px rgba(189, 195, 205, 0.32);
    box-shadow: -0.626px 3.951px 13px 0px rgba(189, 195, 205, 0.32);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.order__header {
    cursor: pointer;
}

.order__id-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.order__id {
    font-size: 13px;
    color: #9bbf9d;
    font-family: "GothaProMed";
    text-transform: uppercase;
}

.order__arrow {
    display: block;
    width: 16px;
    height: 10px;
    margin-right: 10px;
    background: url('/local/templates/rafale/images/history-orders/arrow.png') no-repeat center;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.order_opened .order__arrow {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.order__date {
    font-size: 13px;
    color: #6a6a6a;
}

.order__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.order__item {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.order__item-img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.order__description {
    text-align: right;
    font-size: 13px;
    color: #6a6a6a;
}

.order__count-item,
.order__sum {
    color: #303030;
    font-family: "GothaProMed";
}

.order__status {
    display: block;
    width: 90px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 11px;
    margin: 0 auto;
}

.order__status_complete {
    color: #9bbf9d;
    border: 1px solid #9bbf9d;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.order__status_complete:hover {
    color: #fff;
    background: #9bbf9d;
}

.order__status_canceled {
    color: #f46161;
    border: 1px solid #f46161;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.order__status_canceled:hover {
    color: #fff;
    background: #f46161;
}

.order__body {
    display: none;
    border-top: 1px solid #e7e9ed;
    padding: 30px 40px;
}

/*.order_opened .order__body {
	display: block;
}*/

.order__info-field {
    margin-bottom: 15px;
}

.order__info-field-title {
    font-size: 13px;
    line-height: 22px;
    color: #303030;
    font-family: "GothaProMed";
}

.order__info-field-content {
    font-size: 13px;
    line-height: 22px;
    color: #6a6a6a;
    font-family: "GothaProLig";
}

.ordered-item {
    padding-bottom: 20px;
    border-bottom: 1px solid #e7e9ed;
}

.ordered-item:not(:first-child) {
    padding-top: 20px;
}

.ordered-item__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ordered-item__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ordered-item__img-block {
    width: 60px;
    height: 70px;
    margin-right: 40px;
}

.ordered-item__img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.ordered-item__title {
    font-size: 13px;
    color: #303030 !important;
    text-decoration: underline;
}

.ordered-items__total {
    padding: 10px 0;
}

.ordered-items__total-count {
    color: #6a6a6a;
}

.ordered-items__total-cost {
    text-align: right;
    color: #6a6a6a;
}

.ordered-items__total-cost .bold {
    color: #303030;
    font-family: "GothaProMed";
}

.ordered-item__cost,
.ordered-item__count,
.ordered-item__cost_total {
    font-size: 13px;
    color: #303030;
}

.ordered-item__cost_total {
    text-align: right;
    font-family: "GothaProMed";
}

/* footer */
.footer {
    background: #f3f4f6;
}

.footer__top {
    padding: 50px 0;
    border-bottom: 1px solid #e7e9ed;
}

.footer__mid {
    padding: 50px 0 40px;
}

.footer__bottom {
    margin-bottom: 25px;
}

.footer-contact__label {
    font-size: 11px;
    line-height: 18px;
    color: #a0a0a0;
    font-family: "GothaProLig";
}

.footer-contact__link,
.footer-contact__link:hover,
.footer-contact__link:active {
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    color: #303030;
}

.copyright {
    font-size: 13px;
    color: #606060;
    line-height: 18px;
    font-family: "GothaProLig";
}
.copyright__link {
    color: #606060 !important;
    text-decoration: underline;
}
